[submodule "Lectures"]
	path = Lectures
	url = https://github.com/dradose1-uwyo-cosc/uwyo-cosc4210
[submodule "HW1"]
	path = HW1
	url = https://github.com/dradose1-uwyo-cosc/assignment-1-html-beckcarver
[submodule "HW2"]
	path = HW2
	url = https://github.com/dradose1-uwyo-cosc/assignment-2-css-javascript-beckcarver.git
[submodule "HW3"]
	path = HW3
	url = https://github.com/dradose1-uwyo-cosc/assignment-3-json-and-node-beckcarver/
