[submodule "Lectures"]
	path = Lectures
	url = https://github.com/dradose1-uwyo-cosc/uwyo-cosc4210
[submodule "HW1"]
	path = HW1
	url = https://github.com/dradose1-uwyo-cosc/assignment-1-html-beckcarver
[submodule "HW2"]
	path = HW2
	url = https://github.com/dradose1-uwyo-cosc/assignment-2-css-javascript-beckcarver.git
[submodule "HW3"]
	path = HW3
	url = https://github.com/dradose1-uwyo-cosc/assignment-3-json-and-node-beckcarver
[submodule "HW4"]
	path = HW4
	url = https://github.com/dradose1-uwyo-cosc/assignment-4-html-forms-beckcarver
[submodule "HW5"]
	path = HW5
	url = https://github.com/dradose1-uwyo-cosc/assignment-5-api-calls-beckcarver
[submodule "HW6"]
	path = HW6
	url = https://github.com/dradose1-uwyo-cosc/assignment-6-react-components-beckcarver
[submodule "HW7"]
	path = HW7
	url = https://github.com/dradose1-uwyo-cosc/assignment-7-state-beckcarver
